.KikiLogoType{
  // position: absolute;
  // top: 0;
  // // left: 0;
  // right: 0;

  padding: 0.6em 0;
  color: #000;

  font-family: Arial;
  font-weight: lighter;
  font-size: 14px;

  opacity: 0.3;
}
