.Menu{
  color: #000;
  pointer-events: none;
  z-index: 999;

  .Btn{
    transition: all 0.3s ease;
    pointer-events: auto;

    svg.svg-inline--fa{
      margin: 0 0.3em;
      margin-left: -0.4em;
    }
  }

  a.active .Btn{
    // react-router -> NavLink で 現在ルートの a に .active が付く。
    opacity: 0.5;
    pointer-events: none;
    // background: #eee;
    background: transparent;
    cursor: default;
  }

  &.sm{
    width: 100%;
    font-size: 1rem;
    font-family: Arial;

    .Btn{
      margin: 1px;
      width: 200px;
      height: 66px;
    }

    .menu-switch{
      position: fixed;
      top: auto;
      left: 0;
      right: 0;
      bottom: 0; // top ではなく bottom に標準合わせ(モバイルgoogle の挙動に対応)

      // テストここから
      // pointer-events: none;
      position: fixed;
      left: 0;
      // z-index: 1000;
      bottom: 0;
      width: 100%;
      height: 80px;
      // -webkit-transition: all .5s;
      // transition: all .5s;
      // background: rgba(250, 200, 200, 0.4);
      display: flex;
      flex-flow: row;
      justify-content: center;
      // ここまで

      font-size: 38px;
      color: var(--kiki-pink);

      cursor: pointer;
      z-index: 3;
      pointer-events: none;
    }

    .sort-switch{
      position: absolute;
      top: 0;
      left: 0;
      padding: 4px;
      cursor: pointer;
      z-index: 1;
      animation: sort-switch-in 0.9s 0.6s ease both;
      @keyframes sort-switch-in{
        from{
          opacity: 0;
          transform: translateX(-14px);
        }
        to{
          opacity: 1;
          transform: translateX(0px);
        }
      }
    }

    .container{
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: -30vh;
      left: 0;
      // right: 0;
      width: 100%;
      // bottom: 0;
      height: 150vh;
      // height: HeightTransitionToFull
      background: #333;
      color: lightgrey;
      transition: all 0.4s ease;
      z-index: 2;
      pointer-events: auto;

      .link-list{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
      }

      &.hide{
        pointer-events: none;
        visibility: hidden;
        opacity: 0;
        transform: scale(1.1);
      }

      &.show{
        .link-list{
          @for $i from 1 through 6 {
            &-item:nth-child(#{$i}) {
              animation: slide-in ease both;
              // animation-duration: $i * 0.4s;
              animation-duration: $i * 0.3s;
              animation-delay: $i * 0.04s;
              @keyframes slide-in{
                from{
                  transform: translateY(9px * $i);
                  opacity: 0;
                }
                to{
                  transform: translateY(0px);
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  } // .sm

  &.md{

    // position: fixed;
    // top: 0;
    // left: 0;
    // // right: 1px;
    // right: auto;
    // bottom: auto;
    // background: white;
    // border-bottom: 1px solid #eee;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;

    font-size: 1.2rem;

    .container-left,
    .container-right{
      position: absolute;
      top: 0;
      left: 0;
      right: auto;
      
      width: 16vw;
      height: 100%;

      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
    }
    .container-right{
      top: 0;
      left: auto;
      right: 0;
    }

    .container{ // .md
      // position: fixed;
      // top: 0;
      // left: 0;
      // right: 0;
      // right: auto;
      // bottom: auto;
      background: lightgrey;
      // border-bottom: 1px solid #eee;
      box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);

      width: 100%;
      // height: auto;
      // height: 60px;
      height: 100%;

      display: flex;
      flex-flow: row wrap;
      // justify-content: flex-end;
      justify-content: center;
      // justify-content: flex-start;
      align-items: center;
    }

    .link-list{
      &-item{
        margin: 0 1px;
      }
      .Btn{
        width: 100%;
      }
    }

    .sort-switch{
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
      cursor: pointer;
      z-index: 1;
      animation: sort-switch-in 0.9s 0.6s ease both;
      @keyframes sort-switch-in{
        from{
          opacity: 0;
          transform: translateX(-14px);
        }
        to{
          opacity: 1;
          transform: translateX(0px);
        }
      }
    }
  }
}
